.product_wrap {
  max-width: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}
.product_box {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product_main {
  position: relative;
  width: 300px;
  height: 350px;
}

.product_main:hover .product_name span {
  text-decoration: underline;
}

.product_image {
  width: 100%;
  height: 300px;
}
.product_image img {
  max-width: 100%;
}

.product_name {
  width: 100%;
  height: 50px;
}

.product_name span {
  font-size: 24px;
  font-weight: 700;
}

.view {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  transition: opacity 0.4s, visibility 0.35s, height 0.35s;
}
.view.on {
  visibility: visible;
  opacity: 1;
  height: 100%;
}
.view_box {
  display: flex;
  width: 100%;
  height: 100%;
}

.view_text_box {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  white-space: normal;
}

.view_text_box > div {
  width: auto;
  height: auto;
  padding: 0 15%;
}

.view_text_box h1 {
  font-size: 80px;
  font-weight: bold;
  white-space: wrap;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.view_text_box span {
  display: block;
  font-size: 20px;
  margin-bottom: 7px;
}
.view_text_box span:nth-of-type(1) {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.view_text_box span:nth-of-type(2) {
  margin-bottom: 30px;
}
.view_text_box p {
  font-size: 18px;
  margin-bottom: 15px;
}
.view_text_box p:first-of-type {
  font-size: 15px;
  margin-bottom: 35px;
}

.view_text_box p:last-of-type {
  margin-bottom: 60px;
}
.view_text_box a {
  font-size: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in;
}

.view_text_box a:hover {
  text-decoration: underline;
}
.view_img_box {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.view_img_box img {
  width: 100%;
}
